[submodule "ProtOS/vendor/rpi-rgb-led-matrix"]
	path = ProtOS/vendor/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix
[submodule "ProtOS/vendor/json"]
	path = ProtOS/vendor/json
	url = https://github.com/nlohmann/json
[submodule "ProtOS/vendor/CImg"]
	path = ProtOS/vendor/CImg
	url = https://github.com/dtschump/CImg
[submodule "ProtOS/vendor/spdlog"]
	path = ProtOS/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ProtOS/vendor/optick"]
	path = ProtOS/vendor/optick
	url = https://github.com/bombomby/optick
[submodule "ProtOS/vendor/premake5/cmake"]
	path = ProtOS/vendor/premake5/cmake
	url = https://github.com/Enhex/premake-cmake
[submodule "ProtOS/vendor/premake5/clion"]
	path = ProtOS/vendor/premake5/clion
	url = https://github.com/Enhex/premake-clion
