[submodule "vendor/rpi-rgb-led-matrix"]
	path = vendor/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/CImg"]
	path = vendor/CImg
	url = https://github.com/dtschump/CImg
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/optick"]
	path = vendor/optick
	url = https://github.com/bombomby/optick
